.topDealsSection{
    cursor: grab;
    display: flex;
    overflow: scroll;
    scroll-behavior:smooth;
    max-width: 95vw;
    margin: 0 10px;
    scrollbar-width: 0;
  }

  .topDealsSection::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
.topDeals{
    margin: 0 1rem;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    height: 150px;
    border-radius: 10px;
}

.card {
    height: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: .8rem;
    position: relative;
    overflow: visible;
   }
   
   .card-img {
    grid-column: 1  ;
    box-shadow: inset 1px 1px 10px 5px   #f06774;
    height: 75px;
    width: 75px;
    border-radius: .5rem;
    transition: .3s ease;
   }

   .card-img img{
    height: 75px;
    width: 75px;
   }
   
   .card-info {
    height: 66%;
    grid-column: span 3;
   }
   
   .card-button img {
    filter: invert(70%) sepia(90%) saturate(3046%) hue-rotate(311deg) brightness(92%) contrast(105%);
    max-width: 24px;
    max-height: 24px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    color: rgb(240, 103, 116);
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
    border-top: 1px solid #f06774;
   }
   
   /*Text*/
   .text-title {
    font-weight: 700;
    font-size: 1em;
    line-height: 1;
    margin: 5px 0;
   }
   .text-body{
    padding-top: 10px;
    padding-left: 5px;
    font-size: .7rem;
    margin: 0;
   }
   .text-price{
    padding-left: 1rem;
   }
   
   /*Button*/
   .card-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-right: 1rem;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    padding: 0 5px;
    border-radius: 10px;
   }
   
  